@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  @apply border-b 
  lg:justify-between 
  lg:px-6;
}

.navbar-section {
  @apply w-full 
  flex 
  flex-col;
}

.navbar-link-list {
  @apply flex 
  h-full
  items-center
  justify-evenly
  uppercase
  text-xl
  tracking-widest;
}

.navbar-li {
  @apply border-b 
  w-1/2 
  py-6
  lg:border-none
  lg:w-auto;
}

.navbar-link {
  @apply hover:text-primary
  transition
  duration-200
  text-xl
  uppercase
  tracking-widest;
}

.navbar-logo {
  @apply w-20 
  py-3
  lg:w-28;
}

.footer-component {
  @apply bg-primary 
  text-white 
  px-12 
  py-6;
}

.footer-section {
  @apply my-6 
  lg:text-center 
  lg:justify-center;
}

.footer-heading {
  @apply text-2xl 
  font-bold 
  pb-3 
  flex 
  items-center 
  tracking-wide 
  lg:block;
}

.footer-text {
  @apply text-lg
  ml-4 
  lg:ml-0;
}

.screen-content {
  @apply bg-secondary 
  min-h-[calc(100vh-96px)];
}
