@tailwind base;
@tailwind components;
@tailwind utilities;

/* Navbar start */
.navbar {
  @apply lg:justify-between 
  lg:px-6;
}

.navbar-section {
  @apply w-full 
  flex 
  flex-col;
}

.navbar-link-list {
  @apply flex 
  h-full
  items-center
  justify-evenly
  uppercase
  text-xl
  tracking-widest;
}

.navbar-li {
  @apply border-b 
  w-1/2 
  py-6
  lg:border-none
  lg:w-auto;
}

.navbar-link {
  @apply hover:text-[#38b137]
  transition
  duration-200
  text-xl
  uppercase
  tracking-widest;
}

.navbar-logo {
  @apply w-20 
  py-3
  lg:w-28;
}
/* Navbar end */

.light-mint {
  /* @apply bg-[#EDFFEE]; */
}

.section-heading {
  @apply font-medium
  text-2xl
  pb-3;
}

.about-text {
  @apply pb-6 
  tracking-wide;
}

/* Contact */
.contact-section {
  @apply flex
  flex-col
  text-center
  justify-center
  items-center
  tracking-wider;
}

.contact-grid {
  @apply grid 
  lg:grid-cols-2 
  gap-6 
  xl:gap-0 
  py-6 
  lg:px-6 
  xl:p-12
  my-auto;
}
/* Contact End */
